* {
    font-family: monospace;
    max-width: 90vw;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
}

.hover-card {
    border: solid black 1px;
}

.hover-card:hover {
    box-shadow: -10px 10px #adccff;
}

h2 {
    font-weight: bold;
    /* text-shadow: -1px 1px #adccff; */
}

@media (max-width: 480px) {
    body {
        margin-left: 5vw;
    }
    .hover-card:hover {
        box-shadow: none;
    }
}

  button {
    background-color: #323a40;
    color: white;
    border: none;
    border-radius: 3px;
  }

  a {
    color:#81a3da;
  }

  #selfie {
      border-radius: 50%;
      max-width: 200px;
  }