.main-content {
    max-width: 650px;
    padding: 0px 12px 0px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


h2, h3, h4, h5 {
  margin-top: 25px;
}

p ul li ol{
    line-height: 1.65rem;
    font-size: 20px !important;
    color: darkslategray;
}

a {
    color: #cc185a;
    text-decoration: none;
}


.code-content {
    background-color: #262626;
    font-family: monospace, sans-serif;
    color: white !important;
    padding: 10px 10px 0px 10px;
    border: solid lightgray 1px;
    border-radius: 7px 7px 0px 0px;
    scrollbar-color: gray black;
    scrollbar-track-color: blue;
  }

  .code-content p {
    color: white;
  }
  
  .code-content p:hover {
    background-color: black;
  }
  
  .code-block .code-footer {
    background-color: rgb(223, 222, 222);
    border-radius: 0px 0px 7px 7px;
    border: none;
    padding-left: 10px;
    font-size: small;
    color: dimgray;
  }


  .table-of-contents {
    font-family: sans-serif;
    line-height: 1.65rem;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 30px;
  }
  
  .table-of-contents ul {
    color: #504d86;
    list-style: none;
  }
  
  .table-of-contents a {
    color: #504d86;
  }


  nav {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background: #cfd8dc; 
  }
  
  nav ul {
    display: flex;
    list-style: none; 
  }
  
  nav li {
    padding-left: 1rem; 
  }
  
  nav a {
    text-decoration: none;
    color: #cc185a;
  }
  
   /* 
    Extra small devices (phones, 600px and down) 
  */
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    nav li {
      padding: 0.5rem 0;
    }
  } 