body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

p ul li ol{
    line-height: 1.65rem;
    font-size: 20px !important;
    color: darkslategray;
}

a {
    color: rgb(1, 146, 235);
    text-decoration: none;
}


.code-content {
    background-color: #262626;
    font-family: monospace, sans-serif;
    color: white !important;
    padding: 10px;
    border: solid lightgray 1px;
    border-radius: 7px 7px 0px 0px;
  }

  .code-content p {
    color: white;
  }
  
  .code-content p:hover {
    background-color: black;
  }
  
  .code-block .code-footer {
    background-color: lightgray;
    border-radius: 0px 0px 7px 7px;
    padding-left: 10px;
    font-size: small;
    color: darkgray;
  }


  .table-of-contents {
    font-family: sans-serif;
    line-height: 1.65rem;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 30px;
  }
  
  .table-of-contents ul {
    color: black;
    list-style: none;
  }
  
  .table-of-contents a {
    color: black;
  }